<% provide(:title, @title) %>
<div class="users jumbotron">
  <div class="row">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ol class="users-follow">
        <%= render @users %>
      </ol>
      <%= will_paginate %>
    <% end %>
  </div>
</div>