<footer class="footer">
  <h3><small>My first Ruby on Rails Application</small></h3>
  <nav>
    <ul>
      <li><%= link_to "About" , about_path %></li>
      <li><%= link_to "Contact" , contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>

</footer>